*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    background:#f5f1e8;
}

/* OVERLAY */

.overlay{
    width:100%;
    height:100vh;
    background:rgba(0,0,0,.5);

    display:flex;
    justify-content:center;
    align-items:center;
}

/* LOGIN BOX */

.login-box{
    width:420px;
    background:#efe1cf;

    padding:40px 30px;
    border-radius:20px;

    text-align:center;

    position:relative;

    box-shadow:0 10px 30px rgba(0,0,0,.2);
}

/* BACK */

.back-btn{
    position:absolute;
    left:20px;
    top:20px;

    color:#502314;
    font-size:22px;
}

/* LOGO */

.logo{
    width:80px;
    margin-bottom:15px;
}

.login-box h1{
    color:#502314;
    font-size:42px;
    margin-bottom:10px;
}

.login-box p{
    color:#502314;
    margin-bottom:25px;
}

/* INPUT */

.input-box{
    display:flex;
    align-items:center;

    border-bottom:2px solid #c7b6a2;

    padding-bottom:10px;
    margin-bottom:25px;
}

.input-box span{
    font-weight:bold;
    margin-right:10px;
}

.input-box input{
    flex:1;
    border:none;
    outline:none;
    background:transparent;

    font-size:16px;
}

/* LOGIN BUTTON */

.login-btn{
    width:100%;

    padding:15px;

    border:none;

    border-radius:50px;

    background:#d62300;

    color:white;

    font-size:15px;

    font-weight:bold;

    cursor:pointer;

    transition:.3s;
}

.login-btn:hover{
    background:#b51d00;
}

/* DIVIDER */

.divider{
    display:flex;
    align-items:center;
    gap:15px;

    margin:25px 0;
}

.divider span{
    flex:1;
    height:1px;
    background:#b8a48f;
}

.divider p{
    margin:0;
}

/* GOOGLE */

.google-btn{
    width:100%;

    padding:12px;

    border:1px solid #ddd;

    background:white;

    border-radius:50px;

    display:flex;
    justify-content:center;
    align-items:center;
    gap:10px;

    cursor:pointer;

    transition:.3s;
}

.google-btn:hover{
    transform:translateY(-2px);
}

.google-btn img{
    width:22px;
}

/* TERMS */

.terms{
    margin-top:25px;

    font-size:12px;

    color:#555;

    line-height:1.6;
}

.terms a{
    color:#d62300;
    text-decoration:none;
}

/* MOBILE */

@media(max-width:500px){

    .login-box{
        width:92%;
        padding:30px 20px;
    }

    .login-box h1{
        font-size:34px;
    }

}